html, body {
    margin: 0px;
}

body {
	background: url('site/img/background.png');
}

nav {
	background-color: #03A9F4;
	border-width: 0;
	height: 70px;
    width: auto;
}


.nav-link {
	float: left;
	color: #fff;
}

.nav-link:hover {
	color: #fff;
	text-decoration: none;
}

.nav-link:link {
    color: #fff;
    text-decoration: none;
}

.nav-link:visited {
    color: #fff;
    text-decoration: none;
}

.nav-link:active {
    color: #fff;
    text-decoration: none;
}

nav > ul > li {
	float: left;
	list-style: none;
	padding-right: 50px;
	padding-left: auto;
}

nav > ul > li > a {
	color: #fff;
}

nav > img {
	float: left;
	position: absolute;

}

.nav-list {
	position: absolute;
	margin-bottom: 0px;
	margin-left: 250px;
	margin-top: 25px;
}

footer {
    height: 70px;
    background-color: #03A9F4;    
    width: auto;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);
}
#copyright {
    color: #454545;
}

.container {
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);
	padding-right: 0px;
	padding-left: 0px;

}

#content {
    height: 600px;
    background-color: white;
}

.main {
	height: 500px;
}

/* Slider*/ 

   #myCarousel {
      margin-top: 0px;
   }

   .carousel-caption {
      font-size: 24px;
   }

   .carousel-caption h4 {
      font-size: 32px;
   }

   #myCarousel .item {
      height: 400px;
   }

   #slide1 {
      background: url('http://www.clker.com/cliparts/m/u/f/F/X/g/abstract-rainbow-background.svg') top center no-repeat;
   }

   #slide2 {
      background: url('http://www.clker.com/cliparts/m/u/f/F/X/g/abstract-rainbow-background.svg') top center no-repeat;
   }

   #slide3 {
      background: url('http://www.clker.com/cliparts/m/u/f/F/X/g/abstract-rainbow-background.svg') top center no-repeat;
   }


/*end slider*/
