html, body {
    margin: 0px;
}

body {
	background: url('site/img/background.png');
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


nav {
	background-color: #03A9F4;
	border-width: 0;
	height: 70px;
    width: auto;
}


.nav-link {
	float: left;
	color: #fff;
}

.nav-link:hover {
	color: #fff;
	text-decoration: none;
}

.nav-link:link {
    color: #fff;
    text-decoration: none;
}

.nav-link:visited {
    color: #fff;
    text-decoration: none;
}

.nav-link:active {
    color: #fff;
    text-decoration: none;
}

nav > ul > li {
	float: left;
	list-style: none;
	padding-left: auto;
}

nav > ul > li > a {
	color: #fff;
  padding-right: 25px;
  padding-left: 25px;
}

nav > img {
	float: left;
	position: absolute;

}

.nav-list {
	position: absolute;
	margin-bottom: 0px;
	margin-left: 300px;
	margin-top: 25px;
}

@media (max-width: 991px) {
  .nav-list {
    margin-left: 130px;
    
  }
  .nav-list > li > a{
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 500px) {
  .text {
    margin: 0px;
  }
}

footer {
  clear: left;
  height: 70px;
  background-color: #03A9F4;    
  width: auto;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);
}

#copyright {
    color: #454545;
}

.container {
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);
	padding-right: 0px;
	padding-left: 0px;

}

#content {
    background-color: white;
}

.main {
	height: 500px;
}

/* Slider*/ 

   #myCarousel {
      margin-top: 0px;
   }

   .carousel-caption {
      font-size: 24px;
   }

   .carousel-caption h4 {
      font-size: 32px;
   }

   #myCarousel .item {
      height: 400px;
   }

   #slide1 {
      background: url('http://www.clker.com/cliparts/m/u/f/F/X/g/abstract-rainbow-background.svg') top center no-repeat;
   }

   #slide2 {
      background: url('http://www.clker.com/cliparts/m/u/f/F/X/g/abstract-rainbow-background.svg') top center no-repeat;
   }

   #slide3 {
      background: url('http://www.clker.com/cliparts/m/u/f/F/X/g/abstract-rainbow-background.svg') top center no-repeat;
   }


/*end slider*/


.text {
	margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

/* Media quries*/

@media (max-width: 991px) {
  .nav-list {
    margin-left: 150px;
    
  }
  .nav-list > li {
    padding-right: 20px;
  }
}

@media (max-width: 360px) {
  footer > a > img {
    margin-left: -40px;
  }
  .logo {
    display: none;
  }
  .nav-list {
    margin-left: -30px;
  }

  .nav-list > li {
    padding-right: 0px;
  }

  .logo {
    margin-left: -35px;
  }

  .text {
    margin: 0px;
    text-align: left;
  }

  .kurs-hr{
    margin-top: 0px;
  }
}

/* Hover animation*/
.nav-li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.nav-li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .2s ease, background-color .2s ease;
  margin-top: 20px;

}
.nav-li:hover:after {
  width: 100%;
  background: #ffffff;
  margin-top: 20px;
}

/* Active */
.active-li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;

}
.active-li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  width: 100%;
  background: #ffffff;
  margin-top: 20px;
}

/* end index.html */

/* Kurser.html */
.kurs-bild {
  float: left;
  margin-right: 10px;
}

.kurs-hr {
  margin-top: 50px;
}

.skiss{
  clear: left;
  margin-top: 40px;
}

.titel{
  text-align: center;
}

.kurs-text {
  margin-left: 10px;
}

/*end kurser.html*/

/*Om_oss.hmtl*/
.personal{
  float: left;
  margin-right: 10px;
}

.om-oss-info {
  display: block;
}
/*endom_oss.html*/
/*efter_skolan.html*/
.kontor{
  float: left;
  margin-right: 10px;
}

.info-om-job{
  display: block;
}





























/* Media quries*/

@media (max-width: 991px) {
  .nav-list {
    margin-left: 150px;
    
  }
  .nav-list > li {
    padding-right: 20px;
  }
}

@media (max-width: 360px) {
  footer > a > img {
    margin-left: -40px;
  }
  .logo {
    display: none;
  }
  .nav-list {
    margin-left: -30px;
  }

  .nav-list > li {
    padding-right: 0px;
  }

  .logo {
    margin-left: -35px;
  }

  .text {
    margin: 0px;
    text-align: left;
  }

  .kurs-hr{
    margin-top: 0px;
  }
}