html, body {
    margin: 0px;
}

nav {
	background-color: #2F809D;
	border-width: 0;
	height: 70px;
    width: auto;
}


.nav-link {
	float: left;
	color: #fff;
}

.nav-link:hover {
	color: #fff;
	text-decoration: none;
}

.nav-link:link {
    color: #fff;
    text-decoration: none;
}

.nav-link:visited {
    color: #fff;
    text-decoration: none;
}

.nav-link:active {
    color: #fff;
    text-decoration: none;
}

nav > ul > li {
	float: left;
	list-style: none;
	padding-right: 50px;
	padding-left: auto;
}

nav > ul > li > a {
	color: #fff;
}

nav > img {
	float: left;
}

.nav-list {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

footer {
    height: 70px;
    background-color: #005E7F;    
    width: auto;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);
}
#Copyright_color {
    color: gray;
}

.container {
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 1.2);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 1.2);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 1.2);
	padding-right: 0px;
	padding-left: 0px;
}

#content {
    height: 600px;
    background-color: white;
}

.main {
	height: 500px;
}